@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;400;700&family=Permanent+Marker&display=swap');
:root {
  --accent: #e87449;
  --main: #1c223c;
  --white: #dbe8ed;

  --font-drawn: 'Permanent Marker', cursive;
  --font--400: 400;
  --font--200: 200;
  --font--700: 700;
  --minFontSize: 24px;
  --scaleFontSize: 1rem + 2vw;
  --maxFontSize: 100%;
}

html {
  font-family: 'Anek Tamil', sans-serif;
  background: #1c223c;
  background: -moz-linear-gradient(45deg, #1c223c 0%, #e87449 100%);
  background: -webkit-linear-gradient(45deg, #1c223c 0%, #e87449 100%);
  background: linear-gradient(45deg, #1c223c 0%, #e87449 100%);
  color: var(--white);
}
/* Typo */
body {
  font-size: clamp(100%, 1rem + 2vw, 24px);
}
h1 {
  font-weight: var(--font--700);
  /* --minFontSize: 32px;
  --scaleFontSize: 10vw;
  --maxFontSize: 200px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  ); */
}
h3 {
  font-family: var(--font-drawn);
  font-weight: var(--font--700);
  --minFontSize: 20px;
  --scaleFontSize: 5vw;
  --maxFontSize: 30px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  );
}
/* Sections*/
/* Main grid */
.main--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6rem 1fr 1fr 1fr;
  height: 100vh;
  width: min(100vw, 800px);
  margin-inline: auto;
  background-color: var(--main);
}
@media screen and (min-width: 800px) {
  body {
    overflow: hidden;
    display: grid;
    place-content: center;
  }
  .main--container {
    height: 800px;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.36);
  }
}
/* Bio */
.bio {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
}
.bio--img {
  left: -20px;
  position: absolute;
  background-image: url(img/nico.png);
  background-size: 200px 200px;
  background-position: -30px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
  z-index: 95;
}

.about--me--mask {
  z-index: 1;
  clip-path: circle(0% at 0 0);
  transition: clip-path 0.7s;
  /* background-color: var(--accent); */
}
.about--me--mask--clicked {
  clip-path: circle(141.4% at 0 0);
  background-color: var(--accent);
}
.me--txt {
  z-index: 89;
  cursor: pointer;
  background-image: url(img/clickMe.svg);
  background-repeat: no-repeat;
  background-position: 90px 30px;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
}

.about--me--modal {
  z-index: 90;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main);
}
.about--me--modal--open {
  z-index: 100;
}
.about--me--modal h1 {
  margin-top: 1rem;
}
.italicPara {
  font-style: italic;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}
.about--me--modal > p {
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.about--me--img {
  background-image: url(img/nicoCover.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  height: 20vh;
  width: 100vw;
}
.about--me--header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--accent);
}
@media screen and (min-width: 800px) {
  .bio--img {
    left: 20px;
    top: 20px;
    background-size: 300px 300px;
    background-position: -40px;
    width: 150px;
    height: 150px;
  }
  .me--txt {
    background-position: 200px 40px;
    z-index: 96;
  }
  .about--me--modal {
    z-index: 100;
    /* position: relative; */
    height: 800px;
    width: 800px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .about--me--img {
    background-image: url(img/nicoCover.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    height: 200px;
    width: 800px;
  }
}
/* Navigation */
/* .nav {
 cursor: pointer;
  position: relative;
 top: 10px;
  right: 0px; 
  width: 100%;
  height: 100%;
  width: 50px;
  height: 50px; 
  grid-area: 1 / 3 / 2 / 4;
   mask-image: url(img/hamburger.svg);
  -webkit-mask-image: url(img/hamburger.svg);
  background-color: var(--accent);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  z-index: 11; 
  z-index: 100;
}
.nav::after {
} */

/* .nav--open {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 100;
} */
.bio--open {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 97;
}
.nav:hover {
  background-color: var(--white);
}
.nav--menu {
  background-color: var(--accent);
  z-index: 95;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.nav--menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav--menu a {
  color: var(--main);
}
/* @media screen and (min-width: 800px) {
  .nav {
    display: none;
  }
  .nav--open {
    display: none;
  }
  .nav:hover {
    background-color: var(--white);
  }
  .nav--menu {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;

    justify-content: space-evenly;

    color: var(--accent);
    grid-row: 1;
    grid-column: 2/4;
  }
  .nav--menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 2rem;
  }
  .nav--menu a {
    color: var(--accent);
  }
} */
/* Hero / Portfolio */
.hero {
  grid-area: 2 / 1 / 4 / 4;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
  position: relative;
}
.hero::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 600px) {
  .swipe {
    margin-right: 8rem;
  }
}
@media screen and (min-width: 800px) {
  .swipe {
    display: none;
  }
  .hero {
    overflow-x: none;
    overflow: hidden;
  }
}
/* Card 1 */
#portfolio--card {
  scroll-snap-align: start;
  margin-inline: auto;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  z-index: 98;
}
#portfolio--card::-webkit-scrollbar {
  display: none;
}

#portfolio--card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}

/* Card 2 */
#portfolio--card--1 {
  scroll-snap-align: start;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* border: 1px solid var(--accent); */
  z-index: 98;
}

#portfolio--card--1 p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card--1 h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}
/* Card 3 */
#portfolio--card--2 {
  scroll-snap-align: start;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* border: 1px solid var(--accent); */
  z-index: 98;
}

#portfolio--card--2 p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card--2 h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}

.read--more {
  position: absolute;
  bottom: -19px;
  /* z-index: 50; */
}
.read--more::before {
  content: '';
  border: 1px solid var(--accent);
  width: 200%;
  height: 290px;
  position: absolute;
  left: -50%;
  bottom: 50%;
  background-image: url(img/swipeMe2.svg);
  background-repeat: no-repeat;
  background-position: 150px 0;
  z-index: -10;
}

.read--more::after {
  content: '';

  width: 100%;
  height: 100%;
  background-position-x: 0;
  background-position-y: -10px;
  position: absolute;
  /* z-index: 100; */
}
.portfolio--img img {
  border: 1px solid var(--accent);
  object-fit: fill;
  height: 150px;
  width: 200px;
  margin-bottom: 0.5rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .hero {
    width: 800px;
    align-items: flex-start;
    margin-top: 8rem;
    display: flex;
    gap: 0;
    justify-content: center;
    padding: 1rem;
  }
  #portfolio--card {
    scroll-snap-align: unset;
    flex: content;
    height: 100px;
    width: 100px;
  }
  #portfolio--card--1 {
    scroll-snap-align: unset;
    flex: content;
    height: 100px;
    width: 100px;
  }
  #portfolio--card--2 {
    scroll-snap-align: unset;
    height: 100px;
    flex: content;
    width: 100px;
  }
  #portfolio--card--1::before {
    content: '';
  }
  #portfolio--card--2::before {
    content: '';
  }
  #portfolio--card--2::before {
    content: '';
  }

  .read--more {
    position: absolute;
    bottom: -180px;
    z-index: 50;
    scale: 80%;
  }
  .read--more::before {
    content: '';
    border: none;
    width: 150%;
    height: 290px;
    position: absolute;
    left: -50%;
    bottom: 50%;
    z-index: -10;
    background-image: unset;
    background-repeat: no-repeat;
    background-position: 150px 0;
  }
}
/* Portfolio pages */

.modal--portfolio {
  background-color: var(--main);
  height: 100vh;
  width: min(100vw, 800px);
  z-index: 99;
  color: var(--white);
  display: grid;
  grid-template-rows: 200px 1fr;
  position: absolute;
}
.modal--portfolio--top {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.portfolio--bot {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal--portfolio--image2 {
  background-image: url(img/etch.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal--portfolio--image1 {
  background-image: url(img/rps.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal--portfolio--image3 {
  background-image: url(img/nicoCover.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.modal--portfolio--top h2 {
  color: var(--main);
}

.modal--portfolio a {
  color: var(--accent);
}
.modal--portfolio a:hover {
  color: var(--white);
}

.modal--portfolio p {
  padding: 1.2rem;
  font-size: 1.2rem;
}
.port--links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal--open {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--accent);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 100;
}
.modal--open2 {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--accent);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 100;
}
.modal--open3 {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--accent);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 100;
}
@media screen and (min-width: 800px) {
  .modal--portfolio {
    height: 800px;
    width: 800px;
    position: relative;
  }
  .modal--portfolio--image1 {
    background-position: 0 -133px;
  }
  .modal--portfolio--image2 {
    background-position: 0 -270px;
  }
  .modal--portfolio--image3 {
    background-position: 0 -100px;
  }
  .modal--open {
    top: 9px;
    right: -8px;
  }
  .modal--open2 {
    top: 9px;
    right: -8px;
  }
  .modal--open3 {
    top: 9px;
    right: -8px;
  }
}
/* Project specific */
.portfolio--img--1 {
  background-image: url(img/rps.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -140px;
  object-fit: fill;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: flex-start;
}
.portfolio--img--1 h2 {
  color: var(--main);
}
.portfolio--img--2 {
  background-image: url(img/etch.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -200px;
  background-size: 500px 400px;

  object-fit: cover;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: flex-start;
}
.portfolio--img--2 h2 {
  color: var(--accent);
}

/* Bottom / Contact / Fancy h1s*/
.bottom {
  grid-area: 4 / 1 / 5 / 4;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.oppedal::after {
  content: '';
  background-image: url(img/ContactMe.svg);
  background-repeat: no-repeat;

  background-position: 0px 50px;
  position: absolute;
  width: 160px;
  height: 100px;
}
.contact--txt {
  grid-area: 2 / 2 / 3 / 3;
}

.bottom--txt--top {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-bottom: -1.5rem; */
  background-color: var(--main);
}
.bottom--txt--top > h1 {
  padding: 0;
  color: var(--accent);
  margin-bottom: -1.45rem;
  margin-left: 1rem;
  /* position: absolute; */
}
.bottom--txt--bot {
  grid-area: 2 / 1 / 3 / 3;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.bottom--txt--bot > h1 {
  margin-left: 1.2rem;
  margin-top: -1.8rem;
  color: var(--main);
}
.contact--txt > h3 {
  color: var(--main);
}

.bottom > h1 {
  color: var(--main);
}
.contact--modal {
  grid-row: 2/4;
  grid-column: 1/4;
  background-color: var(--accent);
  height: 10vh;
  width: min(100vw - 2rem, 600px);
  margin: auto;
  border: 1px solid var(--main);
  z-index: 100;
  color: var(--white);
  display: grid;
  place-content: center;
  place-items: center;
  color: var(--main);
}

/* Utits */

.hidden {
  display: none;
}

button {
  cursor: pointer;
  background: none;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--main);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 11;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--main);
}
a:hover {
  color: var(--white);
}
