@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;400;700&family=Permanent+Marker&display=swap");
:root {
  --accent: #e87449;
  --main: #1c223c;
  --white: #dbe8ed;

  --font-drawn: "Permanent Marker", cursive;
  --font--400: 400;
  --font--200: 200;
  --font--700: 700;
  --minFontSize: 24px;
  --scaleFontSize: 1rem + 2vw;
  --maxFontSize: 100%;
}

html {
  font-family: "Anek Tamil", sans-serif;
  background-color: var(--main);
  color: var(--white);
}
/* Typo */
body {
  font-size: clamp(100%, 1rem + 2vw, 24px);
}
h1 {
  font-weight: var(--font--700);
  /* --minFontSize: 32px;
  --scaleFontSize: 10vw;
  --maxFontSize: 200px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  ); */
}
h3 {
  font-family: var(--font-drawn);
  font-weight: var(--font--700);
  --minFontSize: 20px;
  --scaleFontSize: 5vw;
  --maxFontSize: 30px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  );
}
/* Sections*/
/* Main grid */
.main--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}
/* Bio */
.bio {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
}
.bio--img {
  left: -20px;
  position: absolute;
  background-image: url(img/nico.png);
  background-size: 200px 200px;
  background-position: -30px;
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
}
.me--txt {
  z-index: 2;
  cursor: pointer;
  background-image: url(img/Me.svg);
  background-repeat: no-repeat;
  background-position: 90px 30px;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
}
.me--txt:hover {
  background-image: url(img/clickMe.svg);
  background-repeat: no-repeat;
  background-position: 90px 30px;
}
/* Navigation */
.nav {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
  mask: url(img/hamburger.svg);
  background-color: var(--accent);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  z-index: 11;
}
.nav--open {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  z-index: 11;
}
.nav:hover {
  background-color: var(--white);
}
.nav--menu {
  background-color: var(--accent);
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.nav--menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--main);
}
a:hover {
  cursor: pointer;
  color: var(--white);
}
/* Hero / Portfolio */
.hero {
  grid-area: 2 / 1 / 4 / 4;
  display: grid;
  place-content: center;
}
.portfolio {
  background-color: var(--accent);
  padding: 1.5rem;
  height: fit-content;
}
#portfolio--card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio--card p {
  padding-top: 1rem;
  font-size: var(--scaleFontSize);
  color: var(--main);
}
.read--more {
  z-index: 12;
}
/* Bottom / Contact / Fancy h1s*/
.bottom {
  grid-area: 4 / 1 / 5 / 4;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 0;
  overflow: hidden;
  position: relative;
}
.oppedal::after {
  content: "";
  background-image: url(img/ContactMe.svg);
  background-repeat: no-repeat;

  background-position: 0px 50px;
  position: absolute;
  width: 160px;
  height: 100px;
}
.contact--txt {
  grid-area: 2 / 2 / 3 / 3;
}

.bottom--txt--top {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-bottom: -1.5rem; */
  background-color: var(--main);
}
.bottom--txt--top > h1 {
  padding: 0;
  color: var(--accent);
  margin-bottom: -1.4rem;
  margin-left: 1rem;
  /* position: absolute; */
}
.bottom--txt--bot {
  grid-area: 2 / 1 / 3 / 3;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.bottom--txt--bot > h1 {
  margin-left: 1.2rem;
  margin-top: -1.7rem;
  color: var(--main);
}
.contact--txt > h3 {
  color: var(--main);
}

.bottom > h1 {
  color: var(--main);
}

/* Utits */

.hidden {
  display: none;
}

button {
  background: none;
  border: 1px solid var(--accent);
  color: var(--accent);
  padding-left: 1rem;
  padding-right: 1rem;
}
