@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;400;700&family=Permanent+Marker&display=swap");
:root {
  --accent: #e87449;
  --main: #1c223c;
  --white: #dbe8ed;

  --font-drawn: "Permanent Marker", cursive;
  --font--400: 400;
  --font--200: 200;
  --font--700: 700;
  --minFontSize: 24px;
  --scaleFontSize: 1rem + 2vw;
  --maxFontSize: 100%;
}

html {
  font-family: "Anek Tamil", sans-serif;
  background-color: var(--main);
  color: var(--white);
}
/* Typo */
body {
  font-size: clamp(100%, 1rem + 2vw, 24px);
}
h1 {
  font-weight: var(--font--700);
  /* --minFontSize: 32px;
  --scaleFontSize: 10vw;
  --maxFontSize: 200px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  ); */
}
h3 {
  font-family: var(--font-drawn);
  font-weight: var(--font--700);
  --minFontSize: 20px;
  --scaleFontSize: 5vw;
  --maxFontSize: 30px;
  font-size: clamp(
    var(--minFontSize),
    var(--scaleFontSize),
    var(--maxFontSize)
  );
}
/* Sections*/
/* Main grid */
.main--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6rem 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
/* Bio */
.bio {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
}
.bio--img {
  left: -20px;
  position: absolute;
  background-image: url(img/nico.png);
  background-size: 200px 200px;
  background-position: -30px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
  z-index: 95;
}
.about--me--mask {
  z-index: 1;
  clip-path: circle(0% at 0 0);
  transition: clip-path 0.7s;
  /* background-color: var(--accent); */
}
.about--me--mask--clicked {
  clip-path: circle(141.4% at 0 0);
  background-color: var(--accent);
}
.me--txt {
  z-index: 2;
  cursor: pointer;
  background-image: url(img/clickMe.svg);
  background-repeat: no-repeat;
  background-position: 90px 30px;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
}

.about--me--modal {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main);
}
.about--me--modal--open {
  z-index: 100;
}
.about--me--modal h1 {
  margin-top: 1rem;
}
.italicPara {
  font-style: italic;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}
.about--me--modal > p {
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.about--me--img {
  background-image: url(img/nicoCover.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  height: 20vh;
  width: 100vw;
}
.about--me--header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--accent);
}
/* Navigation */
.nav {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
  mask-image: url(img/hamburger.svg);
  -webkit-mask-image: url(img/hamburger.svg);
  background-color: var(--accent);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  z-index: 11;
}
.nav--open {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 100;
}
.bio--open {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 97;
}
.nav:hover {
  background-color: var(--white);
}
.nav--menu {
  background-color: var(--accent);
  z-index: 95;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.nav--menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero / Portfolio */
.hero {
  grid-area: 2 / 1 / 4 / 4;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
}
.hero::-webkit-scrollbar {
  display: none;
}

/* Card 1 */
#portfolio--card {
  /* border: 1px solid var(--accent); */

  scroll-snap-align: start;
  margin-inline: auto;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* z-index: 1; */
}
#portfolio--card::-webkit-scrollbar {
  display: none;
}
#portfolio--card::before {
  content: "Swipe me";
  font-family: var(--font-drawn);
  font-size: 1rem;
  position: absolute;
  /* transform: rotate(-90deg); */
  top: -20px;
  /* left: 30px; */
  color: var(--accent);
  z-index: -10;
}
#portfolio--card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}

/* Card 2 */
#portfolio--card--1 {
  scroll-snap-align: start;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* border: 1px solid var(--accent); */
  z-index: 1;
}
#portfolio--card--1::before {
  content: "Swipe me";
  font-family: var(--font-drawn);
  font-size: 1rem;
  position: absolute;
  /* transform: rotate(-90deg); */
  top: -20px;
  /* left: 30px; */
  color: var(--accent);
  z-index: -10;
}
#portfolio--card--1 p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card--1 h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}
/* Card 3 */
#portfolio--card--2 {
  scroll-snap-align: start;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* border: 1px solid var(--accent); */
  /* z-index: 1; */
}
#portfolio--card--2::before {
  content: "Swipe me";
  font-family: var(--font-drawn);
  font-size: 1rem;
  position: absolute;
  /* transform: rotate(-90deg); */
  top: -20px;
  /* left: 30px; */
  color: var(--accent);
  z-index: -10;
}
#portfolio--card--2 p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--accent);
}
#portfolio--card--2 h5 {
  color: var(--accent);
  /* align-self: flex-start; */
  /* padding-left: 1.5rem; */
  margin: 0;
}

.read--more {
  position: absolute;
  bottom: -19px;
  z-index: -1;
}
.read--more::before {
  content: "";
  border: 1px solid var(--accent);
  width: 200%;
  height: 290px;
  position: absolute;
  left: -50%;
  bottom: 50%;
  z-index: -10;
}

.portfolio--img img {
  border: 1px solid var(--accent);
  object-fit: fill;
  height: 150px;
  width: 200px;
  margin-bottom: 0.5rem;
  position: relative;
}
/* Portfolio pages */
/* .modal--portfolio {
  background-color: var(--main);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  color: var(--white);
  overflow: hidden;
  margin: 0;
} */
.modal--portfolio {
  background-color: var(--main);
  height: 100vh;
  width: min(100vw, 600px);
  margin-inline: auto;
  z-index: 100;
  color: var(--white);
  /* overflow: hidden; */

  display: grid;
  grid-template-rows: 200px 1fr;
}
.modal--portfolio--top {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.portfolio--bot {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal--portfolio--image1 {
  background-image: url(img/etch.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal--portfolio--image2 {
  background-image: url(img/rps.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal--portfolio--image2 {
  background-image: url(img/portfolio.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal--portfolio--top h2 {
  color: var(--main);
}
.portfolio--flex {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
}
.modal--portfolio a {
  color: var(--accent);
}
.modal--portfolio a:hover {
  color: var(--white);
}

.modal--portfolio p {
  padding: 1.2rem;
  font-size: 1.2rem;
}
.port--links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal--open {
  /* X on the modal */
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 50px;
  height: 50px;
  mask: url(img/x.svg);
  mask-size: 2rem;
  background-color: var(--accent);
  mask-repeat: no-repeat;
  mask-position: 0px 0px;
  -webkit-mask: url(img/x.svg);
  -webkit-mask-size: 2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  z-index: 97;
}
/* Project specific */
.portfolio--img--1 {
  background-image: url(img/rps.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -140px;
  object-fit: fill;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: flex-start;
}
.portfolio--img--1 h2 {
  color: var(--main);
}
.portfolio--img--2 {
  background-image: url(img/etch.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -200px;
  background-size: 500px 400px;

  object-fit: cover;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: flex-start;
}
.portfolio--img--2 h2 {
  color: var(--accent);
}

/* Bottom / Contact / Fancy h1s*/
.bottom {
  grid-area: 4 / 1 / 5 / 4;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 0;
  overflow: hidden;
  position: relative;
}
.oppedal::after {
  content: "";
  background-image: url(img/ContactMe.svg);
  background-repeat: no-repeat;

  background-position: 0px 50px;
  position: absolute;
  width: 160px;
  height: 100px;
}
.contact--txt {
  grid-area: 2 / 2 / 3 / 3;
}

.bottom--txt--top {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-bottom: -1.5rem; */
  background-color: var(--main);
}
.bottom--txt--top > h1 {
  padding: 0;
  color: var(--accent);
  margin-bottom: -1.45rem;
  margin-left: 1rem;
  /* position: absolute; */
}
.bottom--txt--bot {
  grid-area: 2 / 1 / 3 / 3;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.bottom--txt--bot > h1 {
  margin-left: 1.2rem;
  margin-top: -1.8rem;
  color: var(--main);
}
.contact--txt > h3 {
  color: var(--main);
}

.bottom > h1 {
  color: var(--main);
}

/* Utits */

.hidden {
  display: none;
}

button {
  cursor: pointer;
  background: none;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--main);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 11;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--main);
}
a:hover {
  color: var(--white);
}
