@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;400;700&display=swap");

:root {
  --accent: #e87449;
  --main: #1c223c;
  --white: #dbe8ed;

  --font--400: 400;
  --font--200: 200;
  --font--700: 700;
}

html {
  font-family: "Anek Tamil", sans-serif;
  background-color: var(--main);
  color: var(--white);
}
